{% extends "layout.html" %}
{% block content %}

<h1>Welcome to Val's Veterinary Hospital</h1>

<div class="card">
  <h5 class="card-header">All your pet will ever need</h5>
  <div class="row">
  <div class="col-sm-6">
    <div class="card-body">
      <img class="card-img-top" src="static/pets.png"/50px90/" alt="Card image cap">
      <p class="card-text"> Our Services include: <br>
        * Emergency<br>
        * Dentistry<br>
        * Physical Exam<br>
        * Holistic<br>
        * Vaccinations<br>
        * Large Animals<br>
        * New Pet Initial Visit</p>
    </div>
    </div>
</div>
</div>


{% endblock %}